@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    
}

body{
  background-color: #282828;
}

.Main{
  background-color:rgba(127,255,0);
  box-shadow: 0px 0px 2px 2px rgba(127,255,0, 0.5),
      0px 0px 5px 5px rgba(127,255,0, 0.3),
      0px 0px 10px 10px rgba(127,255,0, 0.2);
  display:inline-block;
  width:750px;
  height:650px;
  position:relative;
  left:400px;
  top:50px;
  border-radius:10px;

}

  
  #h1 {
    font-size: 60px;
    color:#282828 !important;
  }
  input {
    font-size: 16px;
    padding: 7px;
    width: 200px;
  }
  #input-fields {
    width: 550px;
    margin: auto;
  }
  #calculate {
    width: 180px;
    margin: 3% 20px 0 20px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -2px,
      rgba(0, 0, 0, 0.3) 0px 0px 16px -3px;
    
    background-color: #7FFF00;
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    border:none;
    transition: 0.3s;
    position:relative;
    left:150px;
  }
  #calculate:hover {
    background-color: white !important;
    color: #282828;
    box-shadow: rgba(245, 245, 245, 0.5) 0px 0px 4px 4px,
      rgba(255, 250, 250, 0.3) 0px 0px 10px 10px,
      rgba(256, 256, 256, 0.1) 0px 0px 20px 20px;
    transform:scale(1.05);
  }
  #container {
    justify-content: center;
    text-align: center;
  }
  #description {
    margin-top: 3%;
    text-align: center;
    width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text1{
    height: 200px;
    align-items: center;
    text-align: center;
  }
  #picture {
    margin-top: 3%;
    width: 50%;
  }

  #desc{
    background-color: #7FFF00;
    border:none;
  }
  .desc {
    width: 380px;
    position:relative;
    top:20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: auto;
    background-color: white ;
    box-shadow: rgba(245, 245, 245, 0.5) 0px 0px 4px 4px,
      rgba(255, 250, 250, 0.3) 0px 0px 10px 10px,
      rgba(256, 256, 256, 0.1) 0px 0px 20px 20px;
    border-radius: 10px;
    height:60px;
    transition:0.3s;
    padding-top:9px;
  }

  #weight{
    border-radius:10px;
    border:none;
    background-color: white ;
    box-shadow: rgba(245, 245, 245, 0.5) 0px 0px 4px 4px,
      rgba(255, 250, 250, 0.3) 0px 0px 10px 10px,
      rgba(256, 256, 256, 0.1) 0px 0px 20px 20px;
    position:relative;
    right:20px;
    width:250px;
  }


  #height{
    border-radius:10px;
    border:none;
    background-color: white ;
    box-shadow: rgba(245, 245, 245, 0.5) 0px 0px 4px 4px,
      rgba(255, 250, 250, 0.3) 0px 0px 10px 10px,
      rgba(256, 256, 256, 0.1) 0px 0px 20px 20px;
    position:relative;
    left:55px;
    width:250px;
  }

  @media (max-width: 600px) {
    #input-fields {
      width: 400px;
    }
    form {
      margin: 0 10px;
    }
    img {
      width: 400px;
    }
    h1 {
      font-size: 50px;
    }
  }

