@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 2em;
    
}

body {
    background-color: #282828 !important;
  }


#Main{
    padding:5%;
    position:relative;
    justify-content:center;
    text-align:center;
    left:550px;
    top:180px;
    background-color:rgba(255,0,191);
    box-shadow: 0px 0px 2px 2px rgba(255,0,191, 0.5),
    0px 0px 5px 5px rgba(255,0,191, 0.3),
    0px 0px 10px 10px rgba(255,0,191, 0.2);
    display:inline-block;
    border-radius: 15px;
}

div{
    padding:10px;
    position:relative;    
}

select{
    padding:10px;
    width:300px;
    border:none;
    text-align:center;
    border-radius: 15px;
    font-family: "Ubuntu-thin", sans-serif;
    border: none;
    outline:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -2px,
    rgba(0, 0, 0, 0.3) 0px 0px 16px -3px;
}

option:before{
    display: none;
    padding-right: 10px;
    padding-left: 5px;
    color: #fff;
}


option:hover{
    background-color:rgba(255,0,191);
    color:#fff;
}

input{
    padding-left:7px;
    border-radius: 10px;
    height:40px;
    border: smooth 2px #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -2px,
    rgba(0, 0, 0, 0.3) 0px 0px 16px -3px;
    border: none;
    outline:none;
}


.Lbs{
    position:relative;
    font-weight:300;
    font-size: 18px;
}

.Lbs-a{
    right:44px;
    top:17px;
}

.Lbs-b{
    top:8px;
    left:5px;
}

.Btn{
    top:20px;
    width: 180px;
    margin: 3% 20px 0 20px;
    padding: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 27px -2px,
      rgba(0, 0, 0, 0.3) 0px 0px 16px -3px;
    
    background-color:rgba(255,0,191);
    border-radius: 10px;
    color: #000;
    font-size: 18px;
    font-weight:300;
    border:none;
    transition: 0.3s;
    position:relative;
}

.Btn:hover{
    background-color: white !important;
    color: #282828;
    box-shadow: rgba(245, 245, 245, 0.5) 0px 0px 4px 4px,
      rgba(255, 250, 250, 0.3) 0px 0px 10px 10px,
      rgba(256, 256, 256, 0.1) 0px 0px 20px 20px;
    transform:scale(1.05);
}


